@model MvcMusicStore.Models.ShoppingCart

@{
    ViewBag.Title = "Address And Payment";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class = "container">
    <div class = "row">
        <div class="span5">
            @using (Html.BeginForm()) {
    
                <h2>Billing Info</h2>
    
                <div class = "well">
                    @Forms.TextBoxRequired("FirstName","Joe")
                    @Forms.TextBoxRequired("LastName","User")
                    @Forms.TextBoxRequired("Email","rob@wekeroad.com")
                    @Forms.TextBoxRequired("Address","PO Box 0000")
                    @Forms.TextBoxRequired("City","Hanalei")
                    @Forms.TextBoxRequired("State","HI")
                    @Forms.TextBoxRequired("Country", "Joe",2)
                    @Forms.TextBoxRequired("PostalCode","996699")
                </div>

                <fieldset>
                    <legend>Payment</legend>
                    <p>We're running a promotion: all music is free with the promo code: "FREE"</p>

                    <div class="editor-label">
                        @Html.Label("Promo Code")
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("PromoCode")
                    </div>
                </fieldset>
    
                <input type="submit" value="Submit Order" />
            }
        </div>
        <div class="span3 offset1">
            <h2>Your Order</h2>
            <div class="well">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GetCartItems())
                        {
                            <tr>
                                <td>@item.Album.Title</td>
                                <td>@item.Album.Price.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan = "2"><a href="@Url.Action("index","shoppingcart")">Change</a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>