@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Edit";
}


<div id='normal'>
    <div class='container'>
        <div class='row nudge-top'>
            <div class='span12 centered underlined'>
                <h1>
                    Order <a href="/orders/details/@Model.OrderId">@Model.OrderId</a>
                </h1>
            </div>
        </div>
        <div class='centered row' id='submenu'>
            <ul class='hlist'>
                <li><i class='icon icon-edit'></i>
                    <a href="@Url.Action("create","ordernotes",new {id = Model.OrderId})">
                        Add Note
                    </a>
                </li>
                <li><i class='icon icon-envelope'></i>
                    <a href = "mailto:@Model.Email">Email Customer</a>
                </li>
                <li class='last'>
                    @Forms.DeleteButton(Url.Action("delete","orders",new {id = Model.OrderId}),Model.OrderId)
                </li>
            </ul>
        </div>
        <div class='row nudge-top'>
            <div class='span4'>
                <div class='well'>
                    <h4>Customer</h4>
                    <table class='left-right'>
                        <tr>
                            <td class='attribute'>
                                @Html.Raw(Html.Gravatar(Model.Email,50))
                            </td>
                            <td class='value'>
                                <h5>
                                    @Model.Email</h5>
                            </td>
                        </tr>
                    </table>
                </div>
                 <div class='well nudge-top'>
                    <h4> Notes</h4>
                    <table>
                        @foreach (var note in @Model.Notes)
                        {
                        <tr>
                            <td class='attribute' width = "90">
                                <span class='label'>@note.CreatedOn.ToLongTimeString()</span>
                            </td>
                            <td class='value'>
                                <a href="@Url.Action("edit","ordernotes",new {id = note.Id})">
                                    @note.Note
                                </a>
                                
                            </td>
                            <td>
                                @Forms.DeleteButton(Url.Action("delete","ordernotes"),note.Id,true)
                            </td>
                        </tr>                                    
                        }

                    </table>
                </div>
            </div>
            <div class='span7'>
                <div class='row span7'>
                    <div class='well'>
                        <form accept-charset="UTF-8" action="/orders/13487" method="post" novalidate="novalidate">
                            @Forms.TextBoxRequired("FirstName",@Model.FirstName)
                            @Forms.TextBoxRequired("LastName", @Model.LastName)
                            @Forms.TextBox("Email",@Model.Email)
                            @Forms.TextBoxRequired("Address",@Model.Address)
                            @Forms.TextBoxRequired("City",@Model.City)
                            @Forms.TextBoxRequired("State",@Model.State)
                            @Forms.TextBox("PostalCode",@Model.PostalCode)
                            @Forms.TextBox("Country",@Model.Country)
                            @Forms.TextBox("Phone",@Model.Phone)
                        
                            @Forms.TextBoxNumber("Total", @Model.Total)
                            @Forms.TextBoxDate("OrderDate", @Model.OrderDate)
                            <hr />
                            <input type="submit" class="btn btn-primary btn-ok" value = "save"/>
                        </form>
                    </div>
                </div>
                <div class='row span7'>
                    <div id='payment'>
                        <h4>
                            Transactions</h4>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th>
                                        Payment Method
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Authorization
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tx in @Model.Transactions.ToList())
                                {
                                 <tr>
                                    <td>
                                        @tx.Processor
                                    </td>
                                    <td>
                                        @tx.Amount.ToString("C")
                                    </td>
                                    <td>
                                        @tx.Authorization
                                    </td>
                                    <td>
                                        @tx.CreatedOn.ToShortDateString()
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class='row span7'>
                    <div id='items'>
                        <h4>
                            Items</h4>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th>
                                        Item
                                    </th>
                                    <th>
                                        Sku
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Discount
                                    </th>
                                    <th>
                                        Line Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.OrderDetails)
                                {
                                  <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Sku
                                    </td>
                                    <td>
                                        @item.UnitPrice.ToString("C")
                                    </td>
                                    <td>
                                        @item.Discount.ToString("C")
                                    </td>
                                    <td>
                                        @item.LineTotal.ToString("C")
                                    </td>
                                </tr>                          
                                }
                                

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@Forms.DeleteConfirmScript()