@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Edit";
}

<script src="/assets/js/order_manager.js" type="text/javascript"></script>
<div id='normal'>
    <div class='container'>
        <div class='row nudge-top'>
            <div class='span12 centered underlined'>
                <h1>
                    Order <a href="/orders/details/@Model.OrderId">@Model.OrderId</a> : @Model.Status
                </h1>
            </div>
        </div>
        <div class='centered row' id='submenu'>
            <ul class='hlist'>
                <li><i class='icon icon-edit'></i>
                    <a href="@Url.Action("create","ordernotes",new {id = Model.OrderId})">
                        Add Note
                    </a>
                </li>
                @OrderHelper.LinksForStatus(Model)
                <li><i class='icon icon-envelope'></i>
                    <a href = "mailto:@Model.Email">Email Customer</a>
                </li>
                <li class='last'>
                    @Forms.DeleteButton(Url.Action("delete","orders",new {id = Model.OrderId}),Model.OrderId)
                </li>
            </ul>
        </div>
        <div class='row nudge-top'>
            <div class='span4'>
                <div class='well'>

                    <h4 data-bind="text:FullName"></h4>

                    <table class='left-right'>
                        <tr>
                            <td class='attribute'>
                                @Html.Raw(Html.Gravatar(Model.Email,50))
                            </td>
                            <td class='value'>
                                <h5 data-bind="text:Email"></h5>
                            </td>
                        </tr>
                    </table>
                </div>
                 <div class='well nudge-top'>
                    <h4> Notes</h4>
                    <table>
                        <tbody>
                        <!-- ko foreach: Notes -->
                        <tr>
                            <td width ='95'>
                                <span class="label" data-bind = "text : $parent.parseDate(CreatedOn)"></span>
                            </td>
                            <td >
                                <span data-bind = "text : Note"></span>
                            </td>
                            </td>
                            <td>
                                <button class = "btn btn-danger" data-bind = "click : $parent.deleteNote">
                                    <i class="icon icon-remove icon-white"></i>
                                </button>
                            </td>
                        </tr>                                    
                        <!-- /ko -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan=2>
                                    <input id = "newNote" />
                                </td>
                                <td>
                                    <button class="btn btn-info" data-bind = "click : addNote">
                                        <i class="icon icon-white icon-plus-sign"></i>
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class='span7'>
                <div class='row span7'>
                    <div class='well'>
                        <form id="orderForm" data-bind="submit:saveOrder" method="post">
                            <label for="FirstName">Email</label>
                            <input name="FirstName" data-bind="value : FirstName" />  
                                                      
                            <label for="LastName">Email</label>
                            <input name="LastName" data-bind="value : LastName" />

                            <label for="Email">Email</label>
                            <input name="Email" data-bind="value : Email" />

                            @Forms.TextBoxRequired("Address",Model.Address)
                            @Forms.TextBoxRequired("City",Model.City)
                            @Forms.TextBoxRequired("State",Model.State)
                            @Forms.TextBox("PostalCode",Model.PostalCode)
                            @Forms.TextBox("Country",Model.Country)
                        
                            @Forms.TextBoxNumber("Total", Model.Total)
                            @Forms.TextBoxDate("OrderDate",Model.OrderDate)
                            <hr />
                            <input type="submit" class="btn btn-primary btn-ok" value = "save"/>
                        </form>
                    </div>
                </div>
                <div class='row span7'>
                    <div id='payment'>
                        <h4>
                            Transactions</h4>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th>
                                        Payment Method
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Authorization
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                 <!-- ko foreach:Transactions -->
                                 <tr>
                                    <td data-bind = "text : Processor"></td>
                                    <td data-bind = "text : Amount"></td>
                                    <td data-bind = "text : Authorization"></td>
                                    <td data-bind = "text : $parent.parseDate(CreatedOn)"></td>
                                    <td>
                                        <button class="btn btn-info" data-bind = "visible : $parent.canRefund(), click : $parent.refundOrder">
                                            <i class="icon icon-white icon-repeat"></i>
                                            Refund
                                        </button>
                                    </td>
                                </tr>
                                <!-- /ko -->

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class='row span7'>
                    <div id='items'>
                        <h4>
                            Items</h4>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th>
                                        Item
                                    </th>
                                    <th>
                                        Sku
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Discount
                                    </th>
                                    <th>
                                        Line Total
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.OrderDetails)
                                {
                                  <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Sku
                                    </td>
                                    <td>
                                        @item.UnitPrice.ToString("C")
                                    </td>
                                    <td>
                                        @item.Discount.ToString("C")
                                    </td>
                                    <td>
                                        @item.LineTotal.ToString("C")
                                    </td>
                                    <td>
                                        <a href="@Url.Action("edit","orderdetails",new {id = item.OrderDetailId})" class="btn btn-info">
                                            <i class="icon icon-edit icon-white"></i>
                                            Edit
                                        </a>
                                         @Forms.DeleteButton(Url.Action("delete", "orderdetails"), item.OrderDetailId)
                                    </td>
                                </tr>                          
                                }
                                

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@Forms.DeleteConfirmScript()
<script type="text/javascript">
    order = @Html.Raw(ViewBag.OrderJson);
</script>