@model MvcMusicStore.Models.OrderDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/views/Shared/_Layout.cshtml";
}
<div class = "container">
    <div class = "row span12">
		<h2>Details</h2>

				<fieldset>
			<legend>OrderDetail</legend>
		
			<div class="display-label">OrderId</div>
			<div class="display-field">@Model.OrderId</div>
		
			<div class="display-label">Sku</div>
			<div class="display-field">@Model.Sku</div>
		
			<div class="display-label">UnitPrice</div>
			<div class="display-field">@String.Format("{0:F}", Model.UnitPrice)</div>
		
			<div class="display-label">Quantity</div>
			<div class="display-field">@Model.Quantity</div>
		
			<div class="display-label">Name</div>
			<div class="display-field">@Model.Name</div>
		
			<div class="display-label">Discount</div>
			<div class="display-field">@String.Format("{0:F}", Model.Discount)</div>
		
			<div class="display-label">LineTotal</div>
			<div class="display-field">@String.Format("{0:F}", Model.LineTotal)</div>
				</fieldset>
		<p>
					@Html.ActionLink("Edit", "Edit", new { id=Model.OrderDetailId }) |
			@Html.ActionLink("Back to List", "Index")
				</p>
	</div>
</div>

