@model IEnumerable<MvcMusicStore.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/views/Shared/_Layout.cshtml";
}
<div class = "container">
    <div class = "row span12">
		<h2>Index</h2>

				<p>
			@Html.ActionLink("Create New", "Create")
		</p>
		<table class="table table-bordered table-striped">
			<thead>
			<tr>
				
						<th>
					OrderId
				</th>
						<th>
					Sku
				</th>
						<th>
					UnitPrice
				</th>
						<th>
					Quantity
				</th>
						<th>
					Name
				</th>
						<th>
					Discount
				</th>
						<th>
					LineTotal
				</th>
						<th></th>
			</tr>
			</thead>
			<tbody>
		@foreach (var item in Model) {
			<tr>
						<td>
					@item.OrderId
				</td>
						<td>
					@item.Sku
				</td>
						<td>
					@String.Format("{0:F}", item.UnitPrice)
				</td>
						<td>
					@item.Quantity
				</td>
						<td>
					@item.Name
				</td>
						<td>
					@String.Format("{0:F}", item.Discount)
				</td>
						<td>
					@String.Format("{0:F}", item.LineTotal)
				</td>
				
			<td>
			    <a href="@Url.Action("edit", new { id = item.Id })" class="btn btn-info">
                    <i class="icon icon-edit icon-white"></i>
                    Edit
                </a>
                <a href="@Url.Action("details", new { id = item.Id })" class="btn btn-primary">
                    <i class="icon icon-search icon-white"></i>
                    Details
                </a>
				<form id="delForm" action="@Url.Action("delete")" method="post" style = "display:inline">
                    @Html.Hidden("id",item.Id)
                    <button type="submit" class="btn btn-danger">
                        <i class="icon icon-remove icon-white"></i>
                        Delete
                    </button>
                </form>
			</td>
			</tr>
		}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
    $().ready(function () {
        $("#delForm").submit(function () {
            return confirm("Delete this record? Are you sure?");
        });
    });
</script>

