@helper LinksForStatus(MvcMusicStore.Models.Order order){
        if(order.Status == "paid"){
             <form id="statusForm" action="/orders/refund" method="post" style="display:inline" data-bind = "visible : canRefund(), click : refundOrder">
                <input type="hidden" name="id" value="@order.OrderId" />
                <li>@Forms.SubmitLink("Refund", "icon-repeat")</li>
             </form>
              <form id="statusForm" action="/orders/ship" method="post" style="display:inline">
                <input type="hidden" name="id" value="@order.OrderId" />
                <li>@Forms.SubmitLink("Set As Shipped", "icon-plane")</li>
             </form>
        }
        else if (order.Status == "refunded")
        {
             <form id="statusForm" action="/orders/void" method="post" style="display:inline">
                <input type="hidden" name="id" value="@order.OrderId" />
                <li>@Forms.SubmitLink("Void", "icon-ban-circle")</li>
             </form>
        }
        else if (order.Status == "shipped")
        {
             <form id="statusForm" action="/orders/refund" method="post" style="display:inline">
                <input type="hidden" name="id" value="@order.OrderId" />
                <li>@Forms.SubmitLink("Refund", "icon-repeat")</li>
             </form>
        }
    
}