@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Album - " + Model.Title;
}
<div class="container">
    <div class = "row">
        <div class = "span12">
        
            <h2>@Model.Title</h2>

            <p>
                @AssetHelper.AlbumArt(Model)
            </p>

            <div id="album-details">
                <label>Genre:</label>
                <p>@Model.Genre.Name</p>    
                
                <label>Artist:</label>
                <p>
                    @Model.Artist.Name
                </p>
                <label>
                    <em>Price:</em>
                    @String.Format("{0:F}", Model.Price)
                </label>
                <p class="button">
                    <a class="btn btn-primary" href = "@Url.Action("AddToCart", "ShoppingCart", new { id = Model.AlbumId })">
                        <i class="icon icon-shopping-cart icon-white"></i>
                        Add To Cart
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

