@model MvcMusicStore.Models.Order

@{
    ViewBag.Title = "Create";
    Layout = "~/views/Shared/_Layout.cshtml";
}

<div class = "container">
    <div class = "row span12">
		<h2>Create Note for Order @Model.OrderId</h2>

								<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

				@using (Html.BeginForm()) {
			@Html.ValidationSummary(true)
			<fieldset>
				<legend>OrderNote</legend>
                    @Html.Hidden("OrderId", @Model.OrderId)
						@Forms.TextBox("Note")
						@Forms.TextBox("CreatedOn", DateTime.Now)
						<p>
					<input class="btn btn-primary" type="submit" value="Save" />
				</p>
			</fieldset>
		}

		<div>
			@Html.ActionLink("Back to List", "Index")
		</div>
	</div>
</div>

